.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
  column-gap: 15px;
  margin-top: 80px;
}

.blog-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-grid {
  height: 200px;
  margin-top: 40px;
}

.second-grid {
  height: 200px;
  margin-top: 10px;
}

.third-grid {
  height: 200px;
  margin-top: 20px;
}

.seventh-grid {
  height: 150px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.eight-grid {
  height: 150px;
  margin-top: 40px;
}

.nineth-grid {
  height: 150px;
  margin-top: 30px;
}

.image {
  width: 100%;
}

.grid-image {
  width: 100%;
}

.grid-image2 {
  width: 100%;
}

.grid-image3 {
  width: 100%;
}

.button {
  width: 300px;
  margin-left: 45px;
  margin-top: 70px;
  height: 50px;
  border-radius: 150px;
  background-color: rgb(143, 136, 136);
  cursor: pointer;
  flex: 1;
}

.button:hover {
  background-color: white;
  transition: 1s;
}

.button:active {
  background-color: green;
}

.body {
  margin: 0;
  padding-top: 100px;
  height: 5000px;
}

.vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3px;
  align-items: center;
  margin-bottom: 8px;
}

.our-vision {
  display: flex;
  justify-content: center;
}

.vision-text {
  color: black;
}
.mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3px;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 5px;
}

.our-mission {
  display: flex;
  justify-content: center;
}

.the-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mission-text {
  color: black;
}
.text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.last-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-bottom: 40px;
}

.last-text {
  color: black;
}

.last-button {
  width: 200px;
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(143, 136, 136);
  cursor: pointer;
  flex: 1;
}

.last-button:hover {
  background-color: white;
  transition: 1s;
}

.last-button:active {
  background-color: green;
}
